<section class="welome-wrapper">
    <div class="container">
        <h2>Welcome</h2>

        <p>Please choose language & genre</p>

        <div class="form-group">
            <label for="">Choose Language</label>
            <select class="custom-select" aria-label="Example select with button addon" [(ngModel)]="formData.language">
        <option selected
          disabled
          value="">Choose...</option>
        <ng-container *ngFor="let l of (languages$ | async)">
          <option value="{{l.iso_639_1}}"> {{ l.english_name }} </option>
        </ng-container>
      </select>
        </div>

        <div class="form-group">
            <label for="">Choose Genre</label>
            <select class="custom-select" aria-label="Example select with button addon" [(ngModel)]="formData.genre">
        <option selected
          disabled
          value="">Choose...</option>
        <ng-container *ngFor="let g of (genres$ | async)">
          <option value="{{g.id}}"> {{ g.name }} </option>
        </ng-container>
      </select>
        </div>

        <br>

        <div class="form-group">
            <app-button [disabled]="!formData.genre && !formData.genre" (click)="saveFormData()">Proceed</app-button>
        </div>
    </div>
</section>