<div class="container-fluid">
    <a class="float-right" [routerLink]="['/movie-rating']">
        < Back to Compare Movies </a>

            <h1>Leaderboard </h1>

            <div class="leaderboard-wraper" *ngIf="(moviesLeaderboard$ | async)?.length > 0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="movie-wrapper" *ngFor="let m of (moviesLeaderboard$ | async)">
                            <div class="poster">
                                <img [src]="posterUrl + m.poster_path" alt="" srcset="">
                            </div>
                            <div class="movie-info">
                                <h2> {{ m.title }} </h2>
                                <p class="text-secondary"> {{ m.release_date }} </p>
                                <p class="movie-desc text-light"> {{ m.overview }} </p>
                            </div>
                            <div class="votes">
                                {{ m.vote_count }} Votes
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>